$light-grey: #ccc;
$grad-0: rgb(135, 228, 253);
$grad-1: rgb(97, 169, 253);
$grad-2: rgb(100, 137, 238);
$grad-3: rgb(96, 168, 255);
$grad-4: rgb(135, 131, 240);
$cta-button-color: #76f9d4;
$action-button-light: rgba(255, 255, 255, 0.3);
